.btnMinus {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px solid #2fa4d7;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 4px 4px 5px #bbe9ff;
}
.btnPlus {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px solid #2fa4d7;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 2px 2px 4px #bbe9ff;
}
